parameters:
    level: 8
    checkMissingIterableValueType: false
    paths:
        - src
    ignoreErrors:
        -
            message: '#but returns object#'
            path: src/DatabaseManager.php
        -
            message: '#should return PDO but returns PDO\|null#'
            path: src/Adapter/PdoAdapter.php
