<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    executionOrder="depends,defects"
    forceCoversAnnotation="false"
    beStrictAboutCoversAnnotation="false"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    verbose="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <php>
    <env name="TEST_DATABASE_HOST" value="127.0.0.1"/>
    <env name="TEST_DATABASE_PORT" value="3306"/>
    <env name="TEST_DATABASE_DBNAME" value="framework_database_test"/>
    <env name="TEST_DATABASE_USERNAME" value="root"/>
    <env name="TEST_DATABASE_PASSWORD" value="123456"/>
  </php>
  <testsuites>
    <testsuite name="default">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
