<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Linio Framework Test Suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/Entity</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./coverage.xml"/>
    </logging>
    <php>
        <const name="TEST_DATABASE_HOST" value="127.0.0.1"/>
        <const name="TEST_DATABASE_PORT" value="3306"/>
        <const name="TEST_DATABASE_DBNAME" value="framework_database_test"/>
        <const name="TEST_DATABASE_USERNAME" value="root"/>
        <const name="TEST_DATABASE_PASSWORD" value=""/>
    </php>
</phpunit>
